.success {
      border: 1px solid green;
}

.progress {
    border: 1px solid blue;
}

.test__form,
#resultContainer {
    width: 260px;
}
.test__input,
.test__form label{
    margin-bottom: 4px;
    height: 21px;
    line-height: 21px;
}

.test__form label {
    min-width: 70px;
    display: inline-block;
}

.test__input {
    border: 1px solid #a9a9a9;
}

.error {
    border: 1px solid red;
}

#resultContainer {
    margin-top: 5px;
}